@import "common";
@import "foundation/components/grid";
@import "foundation/components/block-grid";

// Styles for the extensions directory

.learn-about-assets {
  display: flex;
  justify-content: center;
  background: $sensu-green;

  .block_container {
    max-width: 85ch;
  }

  a {
    color: $clouds;
    text-decoration: underline;
  }

  h3, h4, p, li {
    color: white !important;
  }

  h4 {
    font-weight: bold;
  };
}

.directory_title {
  margin: 0;
}

.view_all {
  text-align: center;
  .view_more {
    background: none;
    border: 1px solid grey;
  }
}

.block_container {
  padding: rem-calc(24 56);

  @media #{$mobile-only} {
    padding: rem-calc(24 18);

    header {
      text-align: center;
    }
  }
}

.tree_graphic {
  text-align: center;
  padding-top: 25px;
}

.extension_tag {
  border: 1px solid #4f657f;
  border-radius: 3px;
  padding: 3px;
  margin-right: 3px;
  a {
    margin-right: 0 !important;
  }
}

.extensions_columns {
  @include block-grid(3);
  margin: rem-calc(55 0);

  &.four_up {
    @include block-grid(4);
    margin: rem-calc(55 0);
  }
}

@media #{$small-down} {
  .extensions_columns, {
    @include block-grid(1);

    &.four_up {
      @include block-grid(1);
    }
  }
}

@media #{$medium-only} {
  .extensions_columns.four_up {
    @include block-grid(2);
    margin: rem-calc(55 0);
  }
}

.extensions_column_content {
  background-color: white;
  border: 1px solid $extension_border;
  text-align: center;
  padding: rem-calc(10);

  .button.expand {
    margin: rem-calc(16 0);
    width: 90%;
  }

  .title {
    border-bottom: 1px solid $extension_border;
    margin: 0;
    padding: rem-calc(16 0);
  }
}

.learn_about_extensions {
  @include grid-row();
  background: white;
  border: 1px solid $extension_border;
  padding: rem-calc(20);
  width: auto;
}

.learn_about_extensions_content {
  @include grid-column($columns: 7);
}

.learn_about_extensions_sidebar {
  @include grid-column($columns: 5);
}

@media #{$mobile-only} {
  .learn_about_extensions_content {
    @include grid-column($columns: 12);
  }

  .learn_about_extensions_sidebar {
    @include grid-column($columns: 12);
  }
}
