@import "common";
@import "foundation/components/grid";
// @import "compass/css3/border-radius";
// @import "compass/css3/inline-block";

.extension_show {

  .main-header {
    margin: rem-calc(18);
  }

  .deprecation-notice {
    @include single-transition($speed: 100ms);
    // @include border-radius(rem-calc(2));

    border: 4px solid $secondary_yellow;
    display: block;
    margin: rem-calc(0 0 18 0);
    text-align: center;

    .deprecation-copy {
      color: $secondary-yellow;
      padding: rem-calc(18 9 18 9);
      margin: 0;
    }
  }

  .accordion.contingents {
    a {
      margin-top: rem-calc(10);
    }

    .content {
      padding: 0;
    }

    .fa {
      margin-left: rem-calc(10);
    }

    .fa-plus {
      display: inline;
    }

    .fa-minus {
      display: none;
    }

    .active .fa-plus {
      display: none;
    }

    .active .fa-minus {
      display: inline;
    }
  }

  .tabs {
    .fa {
      margin-left: rem-calc(5);
    }

    .fa-times {
      color: $primary_red;
    }

    .fa-check {
      color: $secondary_green;
    }
  }

  .installs {
    margin-bottom: rem-calc(50);

    dl {
      margin: 0;
    }

    dd {
      display: inline-block;
      margin: 0;
    }

    .tabs-content {
      border: solid 1px lighten($secondary_gray, 30%);
      margin: 0;
      padding: rem-calc(10);
    }

    .content {
      padding: 0;
    }

    .install {
      margin: 0;

      &:nth-child(2) {
        margin-top: rem-calc(10);
      }
    }

    .button {
      // @include border-top-radius(rem-calc(2));
      background: white;
      border: none;
      color: $concrete;
      padding: rem-calc(8);
      margin-right: rem-calc(-2);
    }

    .active .button {
      border: 1px lighten($secondary_gray, 30%);
      border-style: solid solid none solid;
      border-bottom: solid 1px white;
      color: $primary_blue;
      margin-bottom: rem-calc(-1);
    }
  }

  .sidebar {
    .button_download_extension {
      margin-top: rem-calc(20);
    }

    .tokenfield {
      background: white;
    }

    .edit-field {
      margin: 8px 0;
    }

    .github-release-assets {
      dl {
        font-size: x-small;
        padding-left: 1rem;
      }
    }

    .assetPlatform {
      margin-bottom: 0;
      font-weight: '600';
      font-size: small;
    }

    .assetLink {
      word-wrap: break-word;
      margin-bottom: 0;
    }

    .assetSha {
      word-wrap: break-word;
      margin-bottom: 0;
    }

    .assetLastModified {
      border-bottom: rem-calc(1) solid $secondary_gray;
      padding-bottom: rem-calc(7);
    }
  }

  #readme {
    padding-top: rem-calc(20);

    p, ul, ol, li, h1, h2, h3, h4, h5, h6, h7, h8 {
      color: $body-font-color;
    }

    ul {
      list-style-type: square;
    }

    h1 {
      border-bottom: solid 1px lighten($secondary_gray, 30%);
      font-size: rem-calc(36);
      padding-bottom: rem-calc(10);
    }

    h2 {
      font-size: rem-calc(30);
      margin-bottom: rem-calc(14);
    }

    h3 {
      font-size: rem-calc(24);
      margin-bottom: rem-calc(12);
    }

    h4 {
      font-size: rem-calc(18);
      margin-bottom: rem-calc(10);
    }

    pre {
      margin-bottom: rem-calc(20);
    }

    code {
      font-weight: $normal;
    }

    table {
      width: 100%;

      th {
        text-align: left;
      }
    }
  }

  .version_dropdown {
    float: right;
  }

  #versions li:hover {
    background: white;
  }

  #versions ul {
    max-height: 200px;
    margin: 0;
    overflow-y: scroll;

    li:hover {
      background: #eee;
    }
  }

  .followbutton {
    color: $concrete;
    float: right;
    font: {
      size: rem-calc(10);
      weight: $bold;
    }

    #unfollow_extension {
      color: $extra-concrete;
    }

    .button {
      padding: rem-calc(5 20 5 10);

      i:before {
        margin-right: rem-calc(5);
      }

      i {
        display: inline;
      }

      .extension_follow_count {
        // @include inline-block;
        @include single-transition($speed: 100ms);
        // @include border-radius(rem-calc(2));
        background-color: darken($primary-color, 5%);
        color: $clouds;
        font: {
          size: rem-calc(10);
          weight: $bold;
        }
        line-height: rem-calc(10);
        margin: rem-calc(-2 -10 0 10);
        padding: rem-calc(2);
      }

      &:hover {
        .extension_follow_count {
          background-color: darken($primary-color, 20%);
        }
      }
    }
  }

  .show-extension-urls-manage {
    cursor: pointer;

    .fa {
      font-size: rem-calc(18);
    }

    &.active, &.active .fa {
      color: $secondary_blue;
    }
  }

  .dependent-header {
    margin-bottom: rem-calc(8);
  }

  .rss {
    float: left;
  }

  .addthis_sharing_toolbox {
    float: left;
    clear: none !important;
    margin-right: -2px;

    .at-icon-wrapper,
    .at-icon {
      height:16px !important;
      width:16px !important;
    }
  }

  .description {
    width: 540px;
    font-size: smaller;
  }

  .downloads-commits {
    font-size: 10px;
    color: $secondary_gray;
  }

  .row {
    width: auto !important;
    max-width: 100000px !important;
    margin: 0 -16px;
    margin-bottom: 16px;
  }

  .sparkline {
    visibility: hidden;
    min-height: 25px;
    &.loaded {
      visibility: visible;
    }
  }
}

.toggle-details-edit,
.toggle-platforms-edit,
.toggle-tags-edit,
.toggle-collections-edit {
  label {
    font-size: inherit;
    display: inline;
    line-height: inherit;
  }

  input {
    margin-bottom: 0;
  }
}

.toggle-details-hidden,
.toggle-platforms-hidden,
.toggle-tags-hidden,
.toggle-collections-hidden {
  display: none;
}

.extension_platforms .extension_no_platform_icon {
  margin-bottom: 20px !important;
}

.reveal-modal {
  .button_download_extension {
    font-size: 0.7rem !important;
    font-weight: bold !important;
    margin-left: 10px;
  }

  .close-reveal-modal.button {
    position: static !important;
    color: white;
    font-size: 0.7rem;
    padding: 0.35rem 1rem;
  }

  .close-reveal-modal-x {
    font-size: 1rem;
    position: absolute !important;
    top: 10px;
    right: 15px;
  }
}

.button_to {
  display: inline;
  div {
    display: inline;
  }
}

.sparkline-tooltip-class {
  height: 23px;
  color: #ffff00;
  background-color: transparent;
}

.tier {
  margin-left: rem-calc(12);
  color: $primary_green;
  a {
    color: $primary_green;
  }
}

.ext-public {
  color: $secondary_green;
}

.ext-private {
  color: lighten($notice_primary_red, 24%);

.forked-notice {
  color: grey;
}
