<div class='small-12 columns'>
  <% index = 1 %>
  <% extension.config_overrides.each do |key, value| %>
    <div class='small-4 columns'><%= text_field_tag "configs[config_#{index}[key]]", key %></div>
    <div class='small-8 columns'><%= text_field_tag "configs[config_#{index}[value]]", value %></div>
    <% index += 1 %>
  <% end %>
</div>