<div class='small-12 columns'>
  <div class='small-4 columns'><%= text_field_tag "configs[config_new[key]]", '', placeholder: 'key' %></div>
  <div class='small-8 columns'><%= text_field_tag "configs[config_new[value]]", '', placeholder: 'value' %></div>
</div>