<h4 class="extension_show_sidebar_downloads">
  <i class="fa fa-download"></i> <span itemprop="interactionCount"><%= number_with_delimiter(version.try(:download_count) || 0) %></span> Downloads of Version <%= version.try(:version) %>
  <small><%= number_with_delimiter(extension.download_count) %> Total Downloads</small>
</h4>
<%= link_to "Download",
            download_extension_path(
                extension,
                username: extension.owner_name),
            class: 'button primary radius expand button_download_extension' %>
