@import "common";
// @import "compass/css3/border-radius";
@import "foundation/components/grid";
@import "foundation/components/block-grid";

.profile {
  .main.user-assets {
    margin-top: rem-calc(25);
  }
  .sidebar {
    text-align: center;
    margin-top: 0;
    padding-top: 30px;

    a {
      text-decoration: none !important;
    }

    h3, h4, h5 {
      margin: 0;
      border-bottom: none;
      text-align: left;
      padding: 0;
    }

    h4 img {
      margin-right: 5px;
    }

    .fa {
      color: $body-font-color;
      padding-right: rem-calc(5);
    }

    ul {
      list-style-type: none;
      text-align: left;
      margin: 0;
      padding-top: rem-calc(3);

      .has-tip, a {
        border-bottom: none;
        color: $body-font-color;
        font-size: rem-calc(10);
        margin: 0;
      }
    }

    .gravatar {
      margin-bottom: rem-calc(20);
    }

    .button {
      margin-bottom: rem-calc(20);
    }

    .user-info {
      padding-left: 0;
    }

    .user_stats {
      @include block-grid(3, $spacing: 0);
      
      margin: rem-calc(20 0 20 0);

      h3 {
        margin: 0;
        padding: rem-calc(10 0 10 0);
        text-align: center;
        font-size: rem-calc(12);

        span {
          display: block;
          font-size: rem-calc(11);
        }
      }

      a {
        display: block;

        &:hover {
          background: lighten($primary_gray, 50%);
        }
      }

      li {
        background: #fff;
        border-right: rem-calc(1) solid lighten($secondary_gray, 30%);
        margin-bottom: 0;

        &:last-child {
          border-right: none;
        }
      }
    }

    .avatar-size-limiter {
      text-align: left;
      img {
        width: 100%;
      }
    }
  }
}
