<span class="stat"><span class="number"><%= pluralize(number_with_delimiter(extension_count), t('nouns.extension').titleize) %></span></span>
<span class="stat"><span class="number"><%= pluralize(number_with_delimiter(user_count), 'Bonsai User') %></span></span>
