<p class="owner_avatar">
  <% if resource.github_organization %>
    <%= link_to "https://github.com/#{resource.github_organization.name}" do %>
      <span itemprop="author"><%= resource.github_organization.name %></span>
    <% end %>
  <% else %>
    <%= link_to resource.owner do %>
      <span itemprop="author"><%= resource.maintainer %></span>
    <% end %>
  <% end %>
</p>
