@import "common";
@import "foundation/components/grid";
// @import "compass/css3/inline-block";

.listing {
  list-style-type: none;
  margin: rem-calc(0 0 20 0);

  li {
    margin-bottom: rem-calc(10);

    .header {
      @include grid-row();
      background-color: white;
      border-top: 1px solid $extension_border;
      border-right: 1px solid $extension_border;
      border-left: 1px solid $extension_border;
      border-top-right-radius: rem-calc(3);
      border-top-left-radius: rem-calc(3);
    }

    .header-content {
      @include grid-column($columns: 12, $collapse: true);
      background-color: $trinary_gray;
      min-height: rem-calc(26);
      padding: rem-calc(5 15);

      .owner {

        h5 {
          display: inline;
          margin-bottom: 0;
        }

        .gravatar {
          @include box-sizing(content-box);
        }

        @media #{$small-down} {
          .gravatar {
            width: rem-calc(20);
          }
        }

        .meta {
          margin-right: rem-calc(8);
        }
      }

      .title {
        @include dark-links;
        font-size: rem-calc(12);
        line-height: rem-calc(20);
        color: $primary_blue;
        margin: rem-calc(7 0 0);

        .fa {
          // @include inline-block;
          color: $silver;
          font-size: rem-calc(18);
          margin: rem-calc(-2 0 0 16);
        }
      }

      .version {
        color: $primary_gray;
      }

      .date-modified {
        font-size: rem-calc(10)
      }

      .meta {
        font-size: rem-calc(12);

        .fa {
          // @include inline-block;
          color: $silver;
          font-size: rem-calc(18);
          margin: rem-calc(-2 0 0 16);
        }

        small {
          color: lighten($silver, 5%);
          font: {
            size: rem-calc(16);
            weight: $normal;
          }
        }
      }

      @media #{$small-down} {
        .meta {
          display: none;
        }
      }
    }

    @media #{$mobile-only} {
      .header-content {
        padding: rem-calc(15 10 10 20);
      }
    }

    @media #{$small-only} {
      .header-content {
        padding: rem-calc(15 10 10 20);
      }
    }

    .body {
      @include grid-row();
      background-color: $extension_partial_sidebar;
      border: 1px solid $extension_border;
      border-bottom-right-radius: rem-calc(3);
      border-bottom-left-radius: rem-calc(3);
    }

    .body-content {
      @include grid-column($columns: 12, $collapse: true);
      background-color: white;
      padding: rem-calc(12 10);

      p {
        font-size: rem-calc(12);
        font-weight: 600;
        margin: 0;
      }

      code.install {
        display: block;
        font-weight: normal;
        margin-top: rem-calc(20);
        padding: rem-calc(8 16 8 16);
      }
    }

    .bottom {
      @include grid-row();
    }

    .bottom-content {
      @include grid-column($columns: 12, $collapse: true);
      min-height: rem-calc(12);
      padding: rem-calc(2 10);

      h5 {
        color: $primary_gray;
        font: {
          size: rem-calc(12);
          weight: $normal;
        }
        margin: rem-calc(0 0 4);
      }

      .extension_platforms_content {
        float: left;
      }
      .extension_stats li {
        color: $primary_gray;
        font-size: rem-calc(12);
      }
    }
  }
}

