@import "common";
// @import "compass/css3/inline-block";
// @import "compass/css3/border-radius";

.resource {
  .sidebar {
    .fa {
      color: $silver;
      margin-right: rem-calc(5);
    }

    h3, h4 {
      color: $body-font-color;
      font: {
        size: rem-calc(12);
        weight: $bold;
      }
      text-transform: uppercase;

      small {
        color: $body-font-color;
        display: block;
        font: $normal rem-calc(12) $default_font;
        margin: rem-calc(5 0 0 20);
        text-transform: none;
      }
    }

    h3 {
      border-bottom: rem-calc(2) solid $clouds;
      margin-bottom: rem-calc(30);
      padding-bottom: rem-calc(10);
    }

    h4 {
      border-bottom: none;
      margin: rem-calc(10 0 0 0);
    }

    h5 {
      margin-top: rem-calc(15);
      margin-bottom: 0;
      font-size: larger;
      border: none;
    }

    p {
      color: $body-font-color;
      font: $normal rem-calc(12) $default_font;
      margin: rem-calc(0 0 24 20);
    }

    .gravatar {
      height: rem-calc(72);
      margin: rem-calc(0 15 15 0);
      width: rem-calc(72);
    }

    .section {
      margin-bottom: rem-calc(24);
    }

    .install-asset {
      border: 1px solid #333;
      border-radius: rem-calc(4);
      overflow: hidden;
      position: relative;
      transition: all 350ms ease-in-out;

      .pasteboard {
        display: none;
      }

      .no-select {
        user-select: none;
        -webkit-user-select: none;
      }

      &.is-copyable {
        &:hover {
          background: lighten($notice_secondary_green, 25%);
          border-color: darken($notice_secondary_green, 50%);

          .pasteboard {
            opacity: 1;
          }
        }

        .pasteboard {
          display: block;
          opacity: 0;
          background: rgba(255,255,255,0.87);
          position: absolute;
          top: 0;
          right: 0;
          left: auto;

          @supports (backdrop-filter: blur(4px)) or (--webkit-backdrop-filter: blur(4px)) {
            background-color: rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(4px);
            --webkit-backdrop-filter: blur(4px);
          }

          .fa {
            color: rgb(32,32,32);
          }
        }

        pre, .li {
          user-select: none;
          -webkit-user-select: none;
          cursor: pointer;
        }
      }

      pre {
        display: block;
        font-size: rem-calc(13);
        background-color: inherit;
      }
    }

    .collaborators_avatar {
      margin-bottom: rem-calc(10);
      font-size: 11px;

      ul li {
        list-style-type: none;
        margin-bottom: 0;
      }

      .gravatar-container {
        // @include inline-block;
        display: inline-block;
        margin-top: rem-calc(5);
      }

      .f-dropdown {
        margin: rem-calc(15 0 0 -5);
      }

      .gravatar {
        // @include border-radius(rem-calc(40));
        height: rem-calc(40);
        width: rem-calc(40);
      }
    }

    .button {
      background-color: $secondary_gray;
    }

    .button.secondary{
      background-color: $secondary_gray;
      border: 1px solid #333;
    }

    .button.primary {
      background-color: $primary_green;
    }

    @media #{$medium-down} {
      .button {
        display: block;
        margin: rem-calc(10 0 0 0);
        width: 100%;

        &:last-of-type {
          margin-bottom: rem-calc(30);
        }
      }
    }

    .owner_tool {
      @include clearfix;
      margin-top: rem-calc(12);
      font: {
        size: rem-calc(18);
        weight: $bold;
      }

      .gravatar {
        float: left;
        margin-top: rem-calc(0);
        width: rem-calc(50);
        height: rem-calc(50);
      }

      small {
        display: block;
        font: {
          size: rem-calc(14);
          weight: $normal;
        }
        margin-top: rem-calc(5);
      }
    }
  }

  .heading {
    border: none;
    font-size: rem-calc(20);
    margin-bottom: rem-calc(10);
    position: relative;
    z-index: 1;

    .button {
      border: 1px solid $primary_blue;
      padding-top: rem-calc(6);
      padding-bottom: rem-calc(6);
    }

    @media #{$mobile-only} {
      .button {
        width: 100%;
      }
    }
  }

  @media #{$mobile-only} {
    .heading {
      margin-bottom: rem-calc(25);
    }
  }

  @media #{$small-only} {
    .heading {
      margin-bottom: rem-calc(15);
    }
  }

  pre.install {
    margin-bottom: rem-calc(30);
  }
}
