@import "common";
@import "foundation/components/grid";
// @import "compass/css3/transition";
// @import "compass/css3/border-radius";
// @import "compass/css3/inline-block";

// Basic structural elements
html, body {
  height: 100%;
  min-height: 100%;
  font-family: $body-font-family;
}

// @media #{$mobile-only} {
//   html, body, h1, h2, h3, h4, h5, h6, p, li, span, blockquote, a, pre, code { font-size: 88%; }
// }

// @media #{$small-only} {
//    html, body, h1, h2, h3, h4, h5, h6, p, li, span, blockquote, a, pre, code { font-size: 95%; }
// }

// @media #{$medium-only} {
//   html, body, h1, h2, h3, h4, h5, h6, p, li, span, blockquote, a, pre, code { font-size: 95%; }
// }

body {
  background: white;
  margin: 0;
}

hr {
  border: 2px solid #ecedef;
  margin-bottom: rem-calc(20);
}

fieldset {
  border: none;
  padding: 0;
  margin: rem-calc(0 0 20);

  legend {
    background: white;
    font-weight: 600;
    padding-bottom: rem-calc(10);
  }
}

textarea {
  line-height: rem-calc(20);
}

code, pre {
 // @include border-radius(rem-calc(3));
  background-color: $trinary_gray;
  color: $body-font-color;
  cursor: text;
  padding: rem-calc(2 5);
}

pre {
  font: {
    size: rem-calc(16);
    weight: $normal;
  }

  code {
    padding: rem-calc(0 0);
  }

  line-height: rem-calc(24);
  padding: rem-calc(8 20);
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.10rem;
}

.full-height {
   min-height: 100vh;
}

.filter-primary-blue {
  filter: invert(14%) sepia(29%) saturate(892%) hue-rotate(190deg) brightness(97%) contrast(95%);
}

.filter-primary-green {
  filter: invert(87%) sepia(38%) saturate(555%) hue-rotate(42deg) brightness(82%) contrast(91%);
}

.container {
  @include grid-row();
  min-height: 100%;
  max-width: $max-width;
}

.page {
  @include grid-row();
  background: white;
  color: $body-font-color;
  position: relative;
  z-index: 1;

  &.nobg {
    background-color: transparent;

    .heading-with-buttons .title {
      color: $header-font-color;
    }
  }

  &.withspace {
    padding: rem-calc(55);
  }

  table {
    width: 100%;
  }
}

@media #{$mobile-only} {
  .page {
    padding: 0;
  }
  .full-height {
    min-height: 0;
  }
}

@media #{$small-only} {
  .page {
    padding: 0;
  }
  .full-height {
    min-height: 0;
  }
}

@media #{$small-down} {
  .page.nobg, .page.withspace {
    padding: rem-calc(20);
  }
  .full-height {
    min-height: 0;
  }
}

@media #{$medium-only} {
  .page.nobg, .page.withspace {
    padding: rem-calc(55);
  }
}

@media #{$large-only} {
  .page.nobg, .page.withspace {
    padding: rem-calc(55);
  }
}

@media #{$xlarge-up} {
  .page.withspace {
    padding: rem-calc(55);
  }
}

@media #{$xlarge-up} {
  .page.nobg {
    padding: rem-calc(55 0);
  }
}

.main {
  @include grid-column(8);
  padding: rem-calc(20);
  padding-top: 0 !important;
}

@media #{$mobile-only} {
  .main {
    @include grid-column($columns: 12);
    padding: rem-calc(10);
  }
}

@media #{$small-only} {
  .main {
    @include grid-column($columns: 12);
    padding: rem-calc(10);
  }
}

@media #{$xlarge-up} {
  .main {
    @include grid-column($columns: 8);
    padding: rem-calc(55);
  }
}

@media #{$redonkulous-up} {
  .main {
    @include grid-column($columns: 8);
    padding: rem-calc(55);
  }
}

.sidebar {
  @include grid-column(4);
  background: $trinary_gray;
  padding: rem-calc(16 25 16 25);
  margin-top: rem-calc(40);

  h3, h4, h5 {
    border-bottom: rem-calc(2) solid lighten($secondary_gray, 30%);
    padding-bottom: rem-calc(8);
  }

  ol, ul {
    font-size: rem-calc(12);
    line-height: rem-calc(20);
    list-style-type: square;
    margin: rem-calc(10 0 30 20);

    li {
      margin-bottom: rem-calc(10);
    }
  }

  .f-dropdown {
    list-style-type: none;
    margin: rem-calc(10 0 0 0);

    li {
      margin: 0;
    }
  }

  p {
    font-size: rem-calc(14);
    margin: rem-calc(20 0 20 0);
    &.no-left-margin {
      margin-left: 0;
    }
  }

  p a, p a:visited, .pretty a, .pretty a:visited {
    color: darken($secondary_gray, 30%);
    text-decoration: underline;
  }

  form {
    margin-bottom: rem-calc(40);
  }
}

@media #{$mobile-only} {
  .sidebar {
    @include grid-column($columns: 12);
    padding: rem-calc(55 15 55 15);
  }
}

@media #{$small-only} {
  .sidebar {
    @include grid-column($columns: 12);
    padding: rem-calc(55 15 55 15);
  }
}

@media #{$xlarge-up} {
  .sidebar {
    @include grid-column($columns: 4);
    padding: rem-calc(55 25 55 25);
  }
}

@media #{$redonkulous-up} {
  .sidebar {
    @include grid-column($columns: 4);
    padding: rem-calc(55 25 55 25);
  }
}

.heading-with-buttons {
  @include grid-row();

  .title {
    @include grid-column($columns: 5, $collapse: true);
    border: 0;
    padding: 0;

    small {
      margin-left: rem-calc(10);
    }

    .label {
      font-weight: 600;
      font-size: rem-calc(12) ;
      margin-left: rem-calc(10);
      padding: rem-calc(4 10);

      &.secondary { background-color: lighten($secondary_gray, 35%); }
    }
  }

  @media #{$small-down} {
    .title {
      @include grid-column($columns: 12);
      text-align: center;
      margin-bottom: 0;
    }
  }

  .buttons {
    @include grid-column($columns: 7, $collapse: true);
    text-align: right;
    color: $primary_gray;
    font: {
      family: $accent_font;
      size: rem-calc(14);
    }
    line-height: rem-calc(36);

    @media #{$small-down} {
      span {
        display: none
      }
    }

    a.button {
      color: $primary_gray;
      font: {
        size: rem-calc(12);
        weight: $normal;
      }
      margin-left: rem-calc(6);
      padding: rem-calc(9 20);
      text-transform: none;
      .secondary {
        background-color: $secondary_gray;
      }
      .primary {
         background-color: $primary_green;
      }
      .tiny {
        padding: rem-calc(4 16) !important;
        font-size: 0.6875rem;
        border: 1px solid $primary_gray;
      }

      &:hover {
        background-color: darken($secondary_gray, 10%);
        color: white;
      }

      &.dropdown {
        padding-right: rem-calc(57);

        &:before {
          border-color: $concrete rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        }
      }

      &.active {
        background-color: $primary-color;
        // @include border-radius(rem-calc(3));
        color: white;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }

    @media #{$small-down} {
      a.button {
        // @include inline-block;
        width: 100%;
        margin: rem-calc(0 0 5 0);
      }
    }

    .f-dropdown li a {
      text-align: left;
    }
  }

  @media #{$small-down} {
    .buttons {
      @include grid-column($columns: 12);
      text-align: center;
      margin: rem-calc(20 0 20 0);
      padding: 0;
    }
  }
}

.rss_feed_link {
  display: inline-block;
  padding: 3px 15px 3px 0;
  color: darken($primary_gray, 10%);
  font: {
    size: rem-calc(12);
    weight: $bold;
  }

  .fa-rss { color: $primary_orange; }
}

input.error, textarea.error {
  margin-bottom: rem-calc(20);
}

.panel.alert {
  background: lighten($primary_red, 8%);
  border: solid 1px darken($primary_red, 5%);
  color: white;
  padding: rem-calc(15 20);
  margin-bottom: rem-calc(24);

  p {
    color: white;
    margin-bottom: rem-calc(10);
    font-size: rem-calc(14);
  }

  ul {
    list-style-type: square;
    font-size: rem-calc(14);
  }
}

@media #{$small-down} {
  .panel.alert {
    padding: rem-calc(5 10);
  }
}

.hardcoded {
  border: 2px solid #E00404;
}

button, .button {
  // @include single-transition(background-color, $duration: 100ms);
  background: $secondary_blue;
  margin-bottom: rem-calc(0);
  font-family: $accent_font;

  &.small {
    font-size: rem-calc(14);
  }
}

.tooltip {
  background: $primary_blue;
  padding: rem-calc(5 10);
  font-size: rem-calc(10);
}

.gravatar {
  border-radius: rem-calc(3);
}

// User Elements
.user {
  table { width: 100%; }
  .content { float: none; }

  .tabls-content {
    height: 100%;
  }

  .gravatar {
    font-size: .8rem;
    margin: 0;

    img {
      border-radius: 4px;
      margin-right: 10px;
    }
  }

  .profile {
    @include grid-row($behavior: nest);

    .avatar {
      @include grid-column(3);

      img {
        margin-top: 1rem;
        border-radius: 4px;
      }
    }

    .info {
      @include grid-column(9);

      ul {
        list-style-type: none;
        margin: 0 0 1rem 0;

        li {
          display: inline-block;
          margin: 0 1rem .5rem 0;
        }
      }
    }
  }
}

.left-off-canvas-menu {
  background: #1a3241;
}

ul.off-canvas-list li a {
  border-bottom: 1px solid #132631;
}

.app-footer {
  background: rgb(43, 52, 88);
  display: flex;
  flex-direction: column;
}

.app-footer .footer-area {
  a {
    display: inline-block;
    color: $secondary_gray;
    transition: 400ms all;
    margin: 16px;
    &:hover {
      color: white;
    }
  }
}

.app-footer .subfooter-communication {
  color: rgb(201, 204, 214);
  text-align: center;
  font-size: 16px;

  .fa {
    font-size: 24px;
  }

  a {
    padding: 1ex;
    text-decoration: none;
    white-space: nowrap;
    transition: 400ms all;
    &:hover {
      color: white;
    }
  }

  .row {
    padding: .8em 0;

  }

  .footer-links {
    font-size: smaller;
  }
}

.app-footer .copyright {
  color: $secondary_gray;
  font-size: 11px;
  padding-top: rem-calc(5);
  padding-bottom: rem-calc(15);
}

.cta-banner {
  background: rgb(246, 246, 246);
  text-align: center;
  padding: 0 0 32px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.share-cta-container {
  border-top: 1px solid $trinary_gray;
  padding-top: 15px;
}

.share-cta-logo-container {
  top: -9px;
  width: 100%;
  text-align: center;
}

.share-cta-logo {
  width: 16px;
  height: 16px;
}

.share-cta-header {
  margin-top: 15px;
}

@media #{$mobile-only} {
  .cta-banner {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 20px;
  }
}

.categories-container {
  border: 1px solid $secondary_gray;
  background-color: $trinary_gray;
  padding: 20px;
  border-radius: 3px;
  ul {
    list-style: none;
  }
}

.tags-container {
  max-width: 75ch;
  text-align: center;
  margin: 0 auto;

  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    background-color: $primary_blue;

    padding: rem-calc(8);
    margin: rem-calc(4);

    a {
      color: $secondary_color;
    }
  }
}

.extensions-features {
  .featured-extension {
    margin-bottom: 16px;

    header {
      font-size: 20px;
      margin-bottom: 4px;
      span {
        font-size: 18px;
        color: #8b8d88;
        margin-right: 8px;
      }
    }
    p.tags a {
      margin-right: 4px;
    }

    .tier-declaration {
      margin-top: 6px;
      font-size: 14px;
    }
  }
}

.standard-typography {
  a {
    color: $primary-blue;
  }

  li {
    color: #8b8d88;
  }

  header {
    font-size: 22px;
    font-weight: 600;
    color: $primary-blue;
    margin-bottom: 32px;
  }
  p {
    color: #8b8d88;
    margin-bottom: 4px;
  }
}

.bottom-space {
  margin-bottom: rem-calc(32) !important;
}
.small-bottom-space {
  margin-bottom: rem-calc(16) !important;
}

.button.tiny {
  padding: rem-calc(4 16);
  font-size: 0.6875rem;
  border: 1px solid $primary_gray;
}

/* Maximum height math is:
   line-height x #oflines - 0.4
   the 0.4 offset is to make the cutoff  look nicer */
.lines-3{
  max-height: 4.5em;
  min-height: 3em;
}
.lines-6{
  max-height: 7.8em;
  min-height: 6em;
}
.truncate {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
}
.truncate:after{
    content:"";
    height: 1em;
    display: block;
    width: 100%;
    position: absolute;
    background-color: white;
    bottom: -0.2em;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
