<div class="announcement_banner">
  <div class="announcement_banner_header">
    <h3>Asset Index is Now Open. Here is what you should know.</h3>
  </div>

  <div class="announcement_banner_content">
    <div class="announcement_info">
      <h3>We&#8217;re Hiring</h3>

      <p>As we continue to support the efforts of the amazing Devs in the community, we plan to hire additional engineers to help continue the progress we have already made. These engineers will work closely with the community and help shape the direction of Asset Index. If you want to come work with amazing coworkers and a vibrant community, please take a look at our job postings for a Software Development Engineer and a User Experience Engineer.</p>
    </div>
  </div>
</div>
